body {
  margin: 0px;
  padding: 0px; }

h2 {
  color: #255fb5;
  font-size: 40px; }

p {
  max-width: 700px;
  text-align: justify;
  font-size: 22px;
  color: #58575a;
  margin: auto; }

.container {
  padding: 10px 20px; }

.rel-point {
  position: relative;
  width: 0px;
  height: 0px; }

.portofrei {
  position: absolute;
  display: inline-block;
  top: -22px;
  left: -10px;
  color: #fff;
  font-weight: bold;
  font-size: 12px; }

.button1 {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #033ca5;
  padding: 2px 15px;
  display: inline-block;
  color: #033ca5;
  min-width: 40px;
  text-align: center; }

.button1 * {
  vertical-align: middle; }

.button-circle {
  border-radius: 100%;
  padding: 10px;
  font-weight: normal;
  color: #ef3a3c;
  border: 1px solid #ef3a3c;
  background: #fff; }

.button-circle2 {
  background: #033ca5;
  color: #fff;
  border-radius: 100%;
  padding: 7px;
  font-weight: normal;
  font-size: 20px; }

.button2 {
  height: 30px;
  line-height: 17px;
  background: #d84d4e;
  color: #ffffff;
  outline: none;
  font-weight: 400;
  display: inline-block;
  padding: 7px 15px;
  border: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
  box-sizing: border-box; }

input.newsletter {
  border-radius: 0;
  margin-left: 0;
  border: 0 none;
  height: 30px;
  padding: 0 8px;
  background: #FFFFFF;
  font-size: 15px;
  font-family: "Asap", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box; }

.float-right {
  float: right; }

.header {
  background: url("/index_files/cat-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto; }

.area1 {
  background: #033ca5;
  color: #fff; }

.area1 * {
  color: #fff;
  text-decoration: none; }

.area2 {
  background: #255fb5;
  text-align: center; }

.area2 img {
  margin: 0px 15px;
  max-width: 60px; }

.large-links > div {
  border-bottom: 1px solid #255fb5;
  padding: 13px 0px;
  color: #033ca5;
  font-weight: bold;
  vertical-align: middle;
  font-size: 25px;
  position: relative; }
  .large-links > div * {
    vertical-align: middle; }
  .large-links > div img {
    margin-right: 15px; }
  .large-links > div .button-circle {
    position: absolute;
    font-size: 16px;
    right: 0;
    top: 30%;
    z-index: -1; }

.banner {
  text-align: center;
  font-size: 20px; }

.footer {
  overflow: auto; }
  .footer .links {
    float: left;
    padding: 0 30px 0 0; }
  .footer .links > div {
    border-bottom: none; }
  .footer ul {
    list-style: none;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 4px;
    font-weight: 400;
    word-break: break-all;
    line-height: 1.4;
    font-size: 12px; }

.slider1 {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .slider1 .items {
    display: flex; }
    .slider1 .items .item {
      width: 250px; }
      .slider1 .items .item .item-inner {
        margin: 5px;
        position: relative; }
        .slider1 .items .item .item-inner .description {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          color: #fff;
          border-radius: 10px;
          border: 2px solid #fff;
          background: #f03f4b;
          padding: 7px 0;
          text-align: center;
          font-weight: bold;
          font-size: 25px; }
  .slider1 .button-circle {
    position: absolute;
    display: inline-block; }
  .slider1 .button-circle.left {
    top: 40%;
    left: 0; }
  .slider1 .button-circle.right {
    top: 40%;
    right: 0; }

.slider2 {
  display: flex; }
  .slider2 .item {
    margin: 10px;
    width: 200px; }
    .slider2 .item .image {
      position: relative;
      width: 200px;
      height: 200px;
      background: green; }
      .slider2 .item .image .off-label {
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        right: 0px;
        top: 20px;
        display: inline-block;
        color: #fff;
        background: #d73845;
        padding: 3px 5px; }
    .slider2 .item .description {
      background: #d3def3;
      padding: 10px;
      color: #033ca5; }
      .slider2 .item .description .price-old {
        text-decoration: line-through;
        display: inline-block; }
      .slider2 .item .description .price-new {
        color: #d73845;
        display: inline-block;
        font-size: 20px;
        font-weight: bold; }
      .slider2 .item .description .price-label {
        color: #a0a0a0;
        font-size: 16px;
        display: inline-block; }
      .slider2 .item .description .price-default {
        color: #3399cc;
        font-size: 16px;
        display: inline-block; }

.sub-header {
  font-weight: bold;
  font-size: 20px; }

.slider-collection h2 {
  font-size: 25px;
  color: #d73845;
  border-bottom: 2px solid #d73845;
  position: relative;
  padding-left: 50px; }
  .slider-collection h2 img {
    position: absolute;
    bottom: 0;
    left: 0; }

/*# sourceMappingURL=index.css.map */
